<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Salamanca Salazar Alan Eduardo</title>
<link rel="stylesheet" href="/css/styles.css"></link>
</head>
<body>
<header id="header">
	<h1>Introduccion a Java</h1>
	<nav>
		<a href="/">La plataforma Java</a>
		<a href="/">Ediciones de la Plataforma Java</a>
		<a href="/">Características de Java</a>
	</nav>
</header>
<div class="container">
<main class="main">
	<section>
		<h2>La plataforma Java</h2>
		<h3>Que es java</h3>
		<p>Por definición, una plataforma es el ambiente hardware o software sobre el cual se puede 
		ejecutar un programa.</p>
		<ul>
			<li>La máquina virtual de Java (Java Virtual Machine, JVM)</li>
			<li>La Interfaz de Programación de Aplicaciones Java (Java Application Programming 
			Interfaces, Java API)</li>
			<li>La JVM es un intérprete. Los intérpretes son programas que permiten traducir el código creado 
			por un programador en un lenguaje de alto nivel a código máquina.</li>
		</ul>
		<table border="1">
			<tr>
				<th>Titulo</th>
				<th>Descripcion</th>
			</tr>
			<tr>
				<td>Java 8</td>
				<td>Es una version muy desactualizada</td>
			</tr>
		</table>
	</section>
	<section>
		<h2>Ediciones de la Plataforma Java</h2>
		<h3>Se puede distinguir las siguientes cuatro ediciones de Java:</h3>
		<p>La configuración de una plataforma Java afecta fundamentalmente los servicios que esta ofrece, 
		las herramientas adicionales que incorpora y también aspectos menos visibles, tales como el 
		modo de funcionamiento de la JVM.</p>
		<ol>
			<li>Java SE</li>
			<li>JavaFX</li>
			<li>Java EE</li>
			<li>Java ME</li>
		</ol>
		<table border="1">
			<tr>
				<th>Edicion</th>
				<th>Descripcion</th>
			</tr>
			<tr>
				<td>Java SE</td>
				<td>conocida como Standard Edition es la edición más difundida de la plataforma 
				Java. Incorpora el JDK</td>
			</tr>
			<tr>
				<td>Java FX</td>
				<td>originalmente JavaFX era una alternativa a Java SE</td>
			</tr>
			<tr>
				<td>Java EE</td>
				<td>denominada Enterprise Edition de la plataforma Java</td>
			</tr>
		</table>
	</section>
	<section>
		<h2>Características de Java</h2>
		<h3>Características principales</h3>
		<p>Las características principales que nos ofrece Java respecto a cualquier otro lenguaje de programación, son:</p>
		<ol>
			<li>Sencillo</li>
			<li>Orientado a objetos</li>
			<li>Distribuido</li>
		</ol>
		<table border="1">
			<tr>
				<th>Caracteristica</th>
				<th>Descripcion</th>
			</tr>
			<tr>
				<td>Sencillo</td>
				<td>La sintaxis de Java es similar a la de los lenguajes C y C++</td>
			</tr>
			<tr>
				<td>Orientado a objetos</td>
				<td> Salvo los tipos de datos primitivos, todo en Java es concebido 
				como un objeto.</td>
			</tr>
			<tr>
				<td>Distribuido</td>
				<td> Java implementa los protocolos de red estándar, lo que permite desarrollar 
				aplicaciones cliente/servidor en arquitecturas distribuidas,</td>
			</tr>
		</table>
	</section>
</main>
<aside class="aside">
	<img alt="Logo de java" src="/images/logo.png">
	<a href="/templates/form-cliente.html">Conocer mas</a>
</aside>
</div>
<footer>
	<h3>Redes sociales</h3>
	<a href="/">Facebook</a>
	<a href="/">Instagram</a>
	<h3>Correo de contacto</h3>
	<p>contactme@gmail.com</p>
</footer>
</body>
</html>